.selected-menu-item {
  background-color: #31112C;
  color: #fff !important;
}

.submenu-platillos {
  background-color: #173111 !important;
  color: #fff !important;
}

.menu-icon {
  color: #fff !important;
}


.menu-search-container {
  width: 50%;
  display: flex;
  align-items: center;
  margin-left: auto;
  /* Empuja el Input.Search al lado derecho del menú */
}

.white-text {
  color: white;
}

/* body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
} */

.content {
  flex: 1;
  background-color: #FBDCC4;
  padding: 30px;
}

.menu-button {
  display: none;
  /* Ocultar el botón en pantallas grandes */
}

.menu-open {
  display: block;
  /* Mostrar el menú desplegable en pantallas pequeñas */
}

.center {
  width: 110%;
  margin-left: -5%;
}

.center .menu {
  width: 100%;
  margin: 0 auto;
}

.posicionIconUser {
  position: absolute;
  right: auto;
  left: 927px;
  top: 7px;
}

.posicionIconUser2 {
  position: absolute;
  right: auto;
  left: 1100px;
  top: 7px;
}

.posicionIconBuscador {
  position: absolute;
  right: auto;
  left: 800px;
}

.posicionIconBuscador2 {
  position: absolute;
  right: auto;
  left: 970px;
}

/* ----------- CONFIGURACIÓN DE RESPONSIVE SEGÚN EL TAMAÑO DE PANTALLA  -----------*/
@media (min-width: 320px) and (max-width: 481px) {
  .menu {
    font-size: 10px;
    margin-left: 0px;
    height: 5px;
    top: 2px;
    
    padding-bottom: 36px;
  }

  :where(.css-dev-only-do-not-override-2i2tap).ant-btn.ant-btn-icon-only {
    width: 32px;
    padding-inline-start: 0;
    padding-inline-end: 0;
    left: 40px;
    top: -8px;
  }

  :where(.css-dev-only-do-not-override-2i2tap).ant-menu-horizontal .ant-menu-item,
  :where(.css-dev-only-do-not-override-2i2tap).ant-menu-horizontal .ant-menu-submenu {
    position: relative;
    margin-left: 3px;
    top: 0x;
  }

  .menu-icon {
    position: relative;
    left: 5px;
    top: 15px;
  }

  .posicionIconUser {
    position: absolute;
    left: 150px;
    top: -6px;
    font-size: 10px;
  }

  .posicionIconBuscador {
    position: absolute;
    left: 17px;
    top: -5px;
  }

  .alMedio {
    margin-top: -30px;
    margin-left: -10px;
  }

  .header {
    height: 38px;
    top: 50px;
    
  }
}

@media (min-width: 1430px) and (max-width: 1648px) {
  .posicionIconUser {
    position: absolute;
    right: auto;
    left: 1050px;
    top: 7px;
  }
  
  .posicionIconUser2 {
    position: absolute;
    right: auto;
    left: 1230px;
    top: 7px;
  }
  
  .posicionIconBuscador {
    position: absolute;
    right: auto;
    left: 920px;
  }
  
  .posicionIconBuscador2 {
    position: absolute;
    right: auto;
    left: 1100px;
  }
}

@media (min-width: 1648px) and (max-width: 1810px) {
  .posicionIconUser {
    position: absolute;
    right: auto;
    left: 1250px;
    top: 7px;
  }
  
  .posicionIconUser2 {
    position: absolute;
    right: auto;
    left: 1430px;
    top: 7px;
  }
  
  .posicionIconBuscador {
    position: absolute;
    right: auto;
    left: 1120px;
  }
  
  .posicionIconBuscador2 {
    position: absolute;
    right: auto;
    left: 1300px;
  }
}

@media (min-width: 1000px) and (max-width: 1300px) {
  .posicionIconUser {
    position: absolute;
    right: auto;
    left: 800px;
    top: 7px;
  }
  
  .posicionIconUser2 {
    position: absolute;
    right: auto;
    left: 940px;
    top: 7px;
  }
  
  .posicionIconBuscador {
    position: absolute;
    right: auto;
    left: 670px;
  }
  
  .posicionIconBuscador2 {
    position: absolute;
    right: auto;
    left: 810px;
  }
}

@media (min-width: 1810px) and (max-width: 2070px) {
  .posicionIconUser {
    position: absolute;
    right: auto;
    left: 1350px;
    top: 7px;
  }
  
  .posicionIconUser2 {
    position: absolute;
    right: auto;
    left: 1530px;
    top: 7px;
  }
  
  .posicionIconBuscador {
    position: absolute;
    right: auto;
    left: 1220px;
  }
  
  .posicionIconBuscador2 {
    position: absolute;
    right: auto;
    left: 1400px;
  }
}
